manifest {
  author = "Julien Fouret"
  version = "1.0.0"
  defaultBranch = main
  name = "viral_comp"
  description = "Viral sequences comparison"
}

params {
  help = false
  sample_sheet = null
  ref_sample = null
  out_dir = null
  biocontainers_registry = "public.ecr.aws"
}

includeConfig "config/process.config"


