manifest {
  author = "me"
  version = "1.0.0"
}

params {
  help = false
  sample_sheet = null
  ref_sample = null
  out_dir = null
}

process {
  withLabel: cpu_x1 {
    cpus = 1
  }
  withLabel: low_mem {
    memory = 2.GB
  }
  withLabel: cpu_x4 {
    cpus = 4
  }
  withLabel: cpu_x8 {
    cpus = 8
  }
  withLabel: low_dyn_mem {
    memory = { 2.GB * task.cpus }
  }
}
