process {
  withLabel: cpu_x1 {
    cpus = 1
  }
  withLabel: mem_2G {
    memory = 2.GB
  }
  withLabel: mem_4G {
    memory = 4.GB
  }
  withLabel: mem_24G {
    memory = 24.GB
  }
  withLabel: cpu_x4 {
    cpus = 4
  }
  withLabel: cpu_x8 {
    cpus = 8
  }
  withLabel: mem_2G_per_cpu {
    memory = { 2.GB * task.cpus }
  }
  withLabel: mem_3G_per_cpu {
    memory = { 3.GB * task.cpus }
  }
}